:root {
    --color-primary: rgb(48, 61, 122);
    --color-primary-contrast: rgb(255, 255, 255);
    --color-border: rgb(188, 188, 188);
    --color-text: rgb(60, 60, 60);
    --color-text-subtle: rgb(125, 125, 125);
}